<h1>Please select the application you'd like to process</h1>
<%= form_with model: @camp, method: :get, url: user_select_camp_path, local: true do |f| %>
  <p>
    <%= f.collection_radio_buttons(:camp_id, @camps, :id, :name) do |b| %>
      <p><%= b.label("data-value": b.value) { b.radio_button + " " + b.text }%></p>
    <% end %>
  </p>

  <%= f.submit 'continue', class: 'btn btn-primary' %>
<% end %>
