<div class="container">
  <h1>Welcome to Camp Encounters</h1>
  <p>New to our website? Join Now at: <%= link_to 'SignUp', new_user_registration_path %></p>
  <p>Already a member? <%= link_to 'Login', new_user_session_path %></p>
  <p>Website Admin: <%= link_to 'Login', new_admin_session_path %></p>
</div>
