<div class="progress">
  <div class="progress-bar progress-bar-striped progress-bar-animated" style="width: <%= @progress %>%"></div>
</div>

<p><%= @current_step_position %>/<%= @total_step_count %></p>
