<% if @camp_application.submitted %>
  <div class="py-5 text-center container">
    <%= icon("check-circle", class: "text-success") %>
    <p><h3>Your application has been submitted successfully.</h3></p>
    <p>You cannot view or update your application now.</p>
    <p>Thankyou for your registration.</p>
    <p>We hope to see you again soon.</p>
  </div>
<% end %>
