<h3>Camp Listing</h3>

<p><button><%= link_to 'New Camp', new_admin_camp_path %></button></p>

<table class="table table-hover table-bordered">
  <thead class='thead-light'>
    <tr>
      <th>Camp ID</th>
      <th>Camp Name</th>
      <th>Start Date</th>
      <th>End Date</th>
      <th>Locations</th>
      <th>Status</th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <%= render @camps %>
  </tbody>
</table>

<div class="d-flex justify-content-center">
  <%== pagy_bootstrap_nav(@pagy) %>
</div>
